body{
    
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin-bottom: 0%;
    min-height:100vh;
    max-height: 100vw;
    background: rgb(0,0,0);
    background-image: url("./school-removebg-preview.png"), linear-gradient(20deg, rgb(1, 35, 98) 30%, rgb(238, 166, 9) 10%, rgba(255,255,255,1) 100%);;
    background-repeat: no-repeat;
    background-position: left bottom;
    
    
}

.mainContainer{
   display: flex;
   flex-direction: column;
   align-content: space-around;  
    
}

button{
    display: flex;
    
    text-align: center;
    border-radius: 10%;
    appearance: auto;
    align-items: flex-end;
    margin-left: 8px;
    margin-right:8px;
}

input{
    width: 190px;
    height: 8%;
    margin-left: 1%;
    padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius:24px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
font-size: 1.2rem;

  
}

span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 1%;
    
    
}

.title, .publisher, .numofpages{
    margin: auto;
    
}

.addDetailsContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

label {
  font-family: "Poppins", "Roboto" ;
  color: #012362;
  
}

h1{
    text-align: center;
    color: #012362;
    font-size: 2rem;
    background-color: rgba(245, 242, 237,)
}

.spanButtons{
    width: 20%;
}
th, td{
    margin: 3%;
    border-radius: 24px;
    text-align: center;
    width: 33%
}
table{
    align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
    margin: 6% auto;
    color: #012362;
    padding: 20px;
}






.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #012362;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Poppins",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f29f05;
  color: #012362;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.footerDiv{
    
    
    text-align: center;
    
    color: #ffffff;
    margin-top: 10%;
}



section{
   
    height: 100%;
    margin: auto;

    
}

@media only screen and (max-width: 1200px) {
   
    body {
      
      background-image: url("./school-removebg-preview.png"), linear-gradient(20deg, rgb(1, 35, 98) 38%, rgb(238, 166, 9) 10%, rgba(255,255,255,1) 100%);;
      background-repeat: no-repeat;
      background-position:  bottom center;
     background-attachment: fixed;
    }

    h2{
      color: #f29f05;
    }

    footer{
      position: sticky;
      margin-top: 350px;
    }
    
    span{
      /*margin-left: 10%;*/
      flex-wrap: wrap;
      overflow-wrap: break-word;
    }
    table{
      justify-content: center;
      
      

    }

  
    td{
      padding: 5%;
    }
 

  

   
}
@media (hover: none) and (pointer: fine) {
 
}
